body {
    padding: 2px;
    display: grid;  
    grid-template-columns: 1fr ;
    grid-template-rows:1fr 13.3fr 1fr;
    grid-gap: 2px;
    grid-template-areas: "hd"
                         "main"
                         "footer";
    overflow: hidden;  
    width: 100%;
    background-color: lightgray;
    margin-top: 70px;
  
  }  
  header {
    grid-area: hd;
    font-size: 30px; 
    font-weight: bold; 
    color:cornflowerblue;
  }
  main {
    grid-area: main;
    background-color: lightgray;
  }
  .building  {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    overflow: hidden;
  }
  footer {
    grid-area: footer;
    background-color: lightgray;
  }
    