a{
    text-decoration: none;
    color: white;
}
a:hover,
a:active {
    color: lightgray;
}
.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-caption {
    display: inline;
    padding-left: 6px;
}
.mat-toolbar.mat-primary {
    background-color: black;
}
.mat-icon.mat-accent {
    background-color: black;
    color: white;
}
.mat-icon-button {
    background-color: black;
    color: white;
}
